<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    <% if ((movie.genre_id) !== null ){ %>
        <p>GENERO : <%=movie.genero.name %></p>
    <%}%>
    <br>
    <h5>ACTORS:</h5>
    <ul>   
        <% for (actor of movie.actors){ %>
            <li><%=actor.first_name %> <%=actor.last_name %></li>
        <% } %>
    </ul>

    <a href="/movies/edit/<%=movie.id%>">
        <button>EDIT</button>
    </a>

    <form action="/movies/delete/<%=movie.id%>?_method=DELETE" method="post">
        <button type="submit">DELETE</button>
    </form>

</body>
</html>